/.github export-ignore
/tests export-ignore
/docs export-ignore
/package.json export-ignore
/pnpm-lock.yaml export-ignore
/pnpm-workspace.yaml export-ignore
/.vitepress export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/phpunit.xml.dist export-ignore
/phpstan.neon.dist export-ignore
/rector.php export-ignore
/CONTRIBUTING.md export-ignore
/SECURITY.md export-ignore
